@font-face {
	font-family: "iconfont";
	src: url("iconfont.eot?c1f6b89b1c77868ab09957fe578610cc?#iefix") format("embedded-opentype"),
url("iconfont.woff2?c1f6b89b1c77868ab09957fe578610cc") format("woff2"),
url("iconfont.woff?c1f6b89b1c77868ab09957fe578610cc") format("woff");
}

.icon-font {
	line-height: 1;
}

.icon-font:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-font-baseline-3d_rotation-24px:before {
	content: "\f101";
}
.icon-font-baseline-autorenew-24px:before {
	content: "\f102";
}
